.font_one{
    padding: 7%;
    float: right;
    font-size: 7em;   
    line-height: 137px;
    color: brown;
    font-family: 'Tauri', sans-serif;
}

.pres {
    position: relative;
}

p.info_about {
    position: relative;
    padding: 9em;
    width: 28em;
    left: -8%;
    top: 9em;
    color: lightslategray;
    font-size: 122%;
    transform: rotate(-90deg);
    font-family: 'Inconsolata', monospace;
}

// HOVER
p.hp:hover{
    text-decoration: line-through;
}






