.font_one{
    padding: 7%;
    float: right;
    margin-top: 0;
    font-size: 6em;
    line-height: 137px;
    color: brown;
    font-family: 'Tauri', sans-serif;
}

.pres {
    position: relative;
    height: 9em;
}

p.info_about {
    position: absolute;
    width: 10em;
    left: 4em;
    top: 21em;
    color: lightslategray;
    font-size: 122%;
    transform: rotate(-90deg);
    font-family: 'Inconsolata', monospace;
}


// HOVER
p.hp:hover{
    text-decoration: line-through;
}






