footer {
    clear: both;
    position: relative;
    font-size: 12px;
    top: 49em;
    text-align: center;
    height: 50px;
}

  
.footer-t{
    font-size: 151%;
    padding: 1em;
    color: lightslategray
}

   