img.loader.img {
    width: 10em;
    border-radius: 5em;
    margin: 0 auto;
    position: fixed;
    top: 23em;
}

.loader {
    // display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #1A1A1A;
    z-index: 2001;
    transition: -webkit-transform 0.58s cubic-bezier(0.694, 0.048, 0.335, 1);
    transition: transform 0.58s cubic-bezier(0.694, 0.048, 0.335, 1);
    transition: transform 0.58s cubic-bezier(0.694, 0.048, 0.335, 1), -webkit-transform 0.58s cubic-bezier(0.694, 0.048, 0.335, 1);
}


