/* Media Queries for Desktop (908px)*/

@media only screen and (max-width: 980px) {

    #masthead {
      position: static;
      margin: -8px 1px -55px;
    }
     .main-section{
      margin-bottom: 51%;
      margin-top: 0;
      margin-left: 55px;
      width: 67%;
      height: 64%;
    }
    p{
      font-size:smaller;
    }
    #logo {
      width: 31%;
      font-size: 140%;
      margin-left: 6%;
    }
    #portfolio{
      width:70%;
      margin-bottom:3%;
    }
    input[type=submit]{
      margin:10px;
      margin-left:0;
    }
    nav {
      width: 39%;
      margin-top: 3%;
    }
    img {
      width: 38%;
    }
    footer{
      width:100%;
    }
}
   
/*Media Query for Tablet (768px)*/

@media only screen and (max-width: 768px) {

    .main-section{
        margin-bottom: 51%;
        width: 93%;
        margin-left: 3%;
    }

    #portfolio{
        width:93%;
    }
  
}
  
/*Media Query for (640px)*/
@media only screen and (max-width: 640px){

    #masterhead {
        width: 100%;
    }

   #logo{
        width: 100%;
        margin: 0;
    }

   nav{
        margin-left: 23%;
        text-align: center;
        position: relative;
        margin-right: 37%;
        display: flex;
        padding: 4%;
    }

   #about-me{
        position: absolute;
        height: 139%;
    }

   .main-section p{
        float: left
    }

   img{
        margin-left: -2%;
        width: 104%;
        height: 53%;
    }

   footer{
        margin-top: 117%;
        position: sticky;
    }
}
  
  
  
@media only screen and (max-width:414px){
   nav{
        margin-right:50%;
   }
   img{
        width: 104%;
        height: 30%;
   }
   #about-me{
        position: absolute;
        height: 166%;
   }
   footer{
        margin-top: 252%;
        position: sticky;
   }
}
  
@media only screen and (max-width:411px){

    nav{
        margin-right:49%;
    }

    img{
        width: 104%;
        height: 30%;
    }

    #about-me{
        position: absolute;
        height: 143%;
    }

    footer{
        margin-top: 252%;
        position: sticky;
    }
}
  
@media only screen and (max-width:375px){

    nav{
        margin-right:50%;
    }

    img{
        width: 104%;
        height: 30%;
    }
    #about-me{
        position: absolute;
        height: 166%;
    }
    footer{
        margin-top: 252%;
        position: sticky;
    }
}
  
@media only screen and (max-width:360px){

    nav{
        margin-right:53%;
    }

    img{
        width: 104%;
        height: 38%;
    }

    #about-me{
        position: absolute;
        height: 193%;
    }
    footer{
        margin-top: 252%;
        position: sticky;
    }
}


  
  