.main-section img{
    width: 23em;
    position: relative;
    top: 12em;
    z-index: -1;
}

.work p{
    font-size: 4em;
    color: brown;
    padding-left: 1em;
    padding-top: 1em;
    font-family: 'Inconsolata', monospace;
}

img.second {
    width: 23em;
    position: relative;
    top: 11em;
    left: 37em;
}

.first:hover{
    opacity: 0.5;
}

.second:hover{
    opacity: 0.5;
}



p.second-text {
    font-size: 4em;
    color: lightslategray;
    padding-left: 7em;
    padding-top: 1em;
    font-family: 'Inconsolata', monospace;
}

